.Book {
    width: 420px;
    display: flex;
    text-align: left;
    border: 1px solid #3431f5;
    margin: 8px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    line-height: 1.5;
}

.Book:hover {
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
}

.image{
    margin: 16px;
    margin-right: 4px;
    width: 100px;
    border-radius: 5%;
    /* border: 1px solid black; */
    /* border-radius: 8px; */
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

.image:hover{
    border-radius: 5%;
    width:128px;
    /* box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.bookinfo {
    padding: 8px;
    width: 70%;
    /* border: 1px solid black; */
    /* border-radius: 8px; */
}

.Span {
    background: #6462f4;
    padding: 0 5px;
    border-radius: 2px 25px;
    color: white;
}

.Data {
    padding-left: 5px;
}

.bookinfo ul {
    list-style:none;
    padding-left: 4px;
    font-weight: bold;
}

.bookinfo button {
    display: block  ;
    margin: 8px auto;
    padding: 4px 8px;
}
@media screen and (min-width: 300px) and (max-width: 465px)  {
    .Book {
        width: 340px;
        display: flex;
        text-align: left;
        border: 2px solid #8886F8;
        margin: 8px;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 8px;
        font-size: small;
    }
    .image{
        margin: 8px;
        margin-right: 4px;
        width: 75px;
        border-radius: 5%;
        /* border: 1px solid black; */
        /* border-radius: 8px; */
        transition-property: width;
        transition-duration: 2s;
        transition-timing-function: ease-in-out;
    }
    
    .image:hover{
        border-radius: 5%;
        width:128px;
        /* box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); */
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
    }
  }
@media screen and (min-width: 340px) and (max-width: 466px)  {
    .Book {
        width: 280px;
        display: flex;
        text-align: left;
        border: 2px solid #8886F8;
        margin: 8px;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 8px;
    }
  }
@media screen and (min-width: 466px) and (max-width: 574px)  {
    .Book {
        width: 380px;
        display: flex;
        text-align: left;
        border: 2px solid #8886F8;
        margin: 8px;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 8px;
    }
  }
@media screen and (min-width: 575px) and (max-width: 630px)  {
    .Book {
        width: 450px;
        display: flex;
        text-align: left;
        border: 2px solid #8886F8;
        margin: 8px;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 8px;
    }
  }
@media screen and (min-width: 631px) and (max-width: 730px) {
    .Book {
        width: 480px;
        display: flex;
        text-align: left;
        border: 2px solid #8886F8;
        margin: 8px;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 8px;
    }
  }

@media screen and (min-width: 731px) and (max-width: 1040px)  {
    .Book {
        width: 580px;
        display: flex;
        text-align: left;
        border: 2px solid #8886F8;
        margin: 8px;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 8px;
    }
  }