
.Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    border: 1px dotted black;
    min-height: 10vh;
    margin-bottom: 2vh;
    position: sticky;
    bottom: 0;
    background-color: #B5B4FB;
}

.Footer div.item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}
.Footer div.item1 p{
    padding:0 4px;
}
.Footer div.item1 select {
    padding: 0 8px;
    margin-right: 4px;
    border-radius: 8px;
    height: 40px;
    background-color: #6462f4;
    color: white;
    font-size: 1.05rem;
    font-weight: bold;
}

.Footer div.item1 select:focus {
    outline-color: #6462f4;
}

.Footer div.item2 {
    width: 180px;
}
.flex_footer {
    display: flex;
    justify-content: space-between;
}

.Footer button {
    display: block;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 0 16px;
    background-color: #6462f4;
    font-size: 1.1rem;
    font-weight: bold;
    height: 40px;
}